Click==7.0
Jinja2==2.10.1
MarkupSafe==1.1.1
PySocks==1.7.0
PyYAML==5.1.1
Pygments==2.4.2
Send2Trash==1.5.0
TwitterSearch==1.0.2
asn1crypto==0.24.0
attrs==19.1.0
backcall==0.1.0
bleach==3.1.0
boto3==1.9.162
botocore==1.12.194
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
decorator==4.4.0
defusedxml==0.5.0
docutils==0.14
entrypoints==0.3
future==0.17.1
idna==2.8
ipykernel==5.1.1
ipython-genutils==0.2.0
ipython==7.6.1
jedi==0.14.1
jmespath==0.9.4
jsonschema==3.0.1
jupyter-client==5.3.1
jupyter-contrib-core==0.3.3
jupyter-core==4.4.0
jupyter-nbextensions-configurator==0.4.1
mistune==0.8.4
nbconvert==5.5.0
nbformat==4.4.0
notebook==6.0.0
oauth==1.0.1
oauthlib==3.0.2
pandocfilters==1.4.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
prometheus-client==0.7.1
prompt-toolkit==2.0.9
psycopg2==2.8.3
ptyprocess==0.6.0
pyOpenSSL==19.0.0
pycparser==2.19
pyrsistent==0.15.3
python-dateutil==2.8.0
python-lambda==3.2.6
python-twitter==3.5
pyzmq==18.0.2
requests-oauthlib==1.2.0
requests==2.22.0
s3transfer==0.2.0
six==1.12.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.3
traitlets==4.3.2
urllib3==1.25.3
wcwidth==0.1.7
webencodings==0.5.1
